@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f4e8e8;
}

::-webkit-scrollbar-thumb {
	background: #efdada;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #dfcbcb;
}
